---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
    const projects = await getCollection('portfolio');
    // console.log(projects);
    return projects.map(entry => ({
        params: {slug: entry.slug }, props: { entry },
    }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h1>{entry.data.title}</h1>
<hr>
<Content />
<a href="javascript:history.back()">back</a>